In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

df = pd.read_csv('../data/us_stocks.csv', parse_dates=['date'])

# Select stock price data only from 2000 onwards
df = df.where(df['date'] >= '2000-01-01')

# Set ticker and date as index
index_columns = ['ticker', 'date']
df = df.set_index(index_columns)

# Keep only the adjusted open, low, high, close, and volume (OHLCV) prices, and rename by removing the adj_ prefix
# Store in H
df = df.filter(like='adj_')
renamed_columns = {i: i.replace('adj_', '') for i in df.columns.values}
H = df.rename(renamed_columns, axis=1).dropna()
H.head()

                    open   high      low  close    volume
ticker date
ZUMZ   2018-03-27  24.65  24.65  23.3500  23.60  403884.0
       2018-03-26  23.75  24.80  23.7000  24.65  375320.0
       2018-03-23  23.55  24.20  23.4500  23.55  301584.0
       2018-03-22  23.90  24.35  23.3000  23.35  269607.0
       2018-03-21  23.80  24.60  23.6058  23.95  354092.0