# Customer Churning

In [7]:
import pandas as pd
from autoviz import AutoViz_Class

In [6]:
AV = AutoViz_Class()

NameError: name 'AutoViz_Class' is not defined

In [11]:
data = pd.read_csv('../../data/Customer_Churn_Dataset.csv')
data[['Geography', 'Gender', 'Age', 'Exited']] = data[['Geography', 'Gender', 'Age', 'Exited']].astype('category')
data.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
print(data.shape)
data.head()

(10000, 11)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  category
 2   Gender           10000 non-null  category
 3   Age              10000 non-null  category
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  category
dtypes: category(4), float64(2), int64(5)
memory usage: 589.0 KB

In [13]:
target_variable = "Exited"
dft = AV.AutoViz(
    "",
    sep=',',
    depVar=target_variable,
    dfte=data,
    header=0,
    verbose=1,
    lowess=False,
    chart_format="bokeh",
    max_rows_analyzed=150000,
    max_cols_analyzed=30,
    save_plot_dir=None
)

NameError: name 'AV' is not defined